<app-funcao-autenticadora></app-funcao-autenticadora>
<main>
    <div class="container">
        <div class="flex">
            <div class="box-50">
                <a href="/menu-restaurante">
                    <img src="../../assets/main/left-arrow.png" alt="Left Arrow">
                </a>
            </div>
            <div class="box-50 text-right">
                <app-header></app-header>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="flex-between">
            <div class="box-50">
                <div class="box-title-lista text-left">
                    <h1>Mesas</h1>
                </div>
            </div>
            <div class="box-50">
                <div class="box-btn-adicionar-lista text-right">
                    <button>Adicionar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="box-bg-lista">
            <div class="flex">
                <div class="box-100">
                    <div class="flex-between box-bg-lista">
                        <div class="box-20">
                            <div class="box-img-cardapio">
                                <p>Mesa</p>
                            </div>
                        </div>
                        <div class="box-80">
                            <div class="box-desc-cardapio">
                                <p>Descrição</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-100">
                    <div class="flex-between box-btn-item-lista">
                        <div class="box-20">
                            <div class="box-img-cardapio">
                                <p>Mesa 1</p>
                            </div>
                        </div>
                        <div class="box-70">
                            <div class="box-desc-cardapio">
                                <p>Última mesa do lado esquerdo no segundo corredor. 4 cadeiras</p>
                            </div>
                        </div>
                        <div class="box-10">
                            <div class="box-btn-lixeira text-right">
                                <button class="box-btn-lixeira"><img src="../../assets/main/lista/lixeira.png"
                                        alt="Lixeira"></button>
                                <button class="box-btn-lixeira"><img src="../../assets/main/lista/lixeira.png"
                                    alt="Lixeira"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
