<main>
    <div class="container">
        <div class="flex">
            <div class="box-50">
                <a href="/menu-restaurante">
                    <img src="../../assets/main/left-arrow.png" alt="Left Arrow">
                </a>
            </div>
            <div class="box-50 text-right">
                <app-header></app-header>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="flex">
                <div class="box-25">
                    <div class="flex-between box-btn-item-lista">
                        <div class="box-100">
                            <div class="box-img-cardapio">
                                <p>Mesa 1</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-d-cardapio">
                                <p>Descrição:</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-cardapio">
                                <p>Última mesa do lado esquerdo no segundo corredor. 4 cadeiras</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-btn-lixeira text-right">
                                <button>Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-25">
                    <div class="flex-between box-btn-item-lista">
                        <div class="box-100">
                            <div class="box-img-cardapio">
                                <p>Mesa 1</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-d-cardapio">
                                <p>Descrição:</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-cardapio">
                                <p>Última mesa do lado esquerdo no segundo corredor. 4 cadeiras</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-btn-lixeira text-right">
                                <button>Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-25">
                    <div class="flex-between box-btn-item-lista">
                        <div class="box-100">
                            <div class="box-img-cardapio">
                                <p>Mesa 1</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-d-cardapio">
                                <p>Descrição:</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-cardapio">
                                <p>Última mesa do lado esquerdo no segundo corredor. 4 cadeiras</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-btn-lixeira text-right">
                                <button>Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-25">
                    <div class="flex-between box-btn-item-lista">
                        <div class="box-100">
                            <div class="box-img-cardapio">
                                <p>Mesa 1</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-d-cardapio">
                                <p>Descrição:</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-cardapio">
                                <p>Última mesa do lado esquerdo no segundo corredor. 4 cadeiras</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-btn-lixeira text-right">
                                <button>Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-25">
                    <div class="flex-between box-btn-item-lista">
                        <div class="box-100">
                            <div class="box-img-cardapio">
                                <p>Mesa 1</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-d-cardapio">
                                <p>Descrição:</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-cardapio">
                                <p>Última mesa do lado esquerdo no segundo corredor. 4 cadeiras</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-btn-lixeira text-right">
                                <button>Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-25">
                    <div class="flex-between box-btn-item-lista">
                        <div class="box-100">
                            <div class="box-img-cardapio">
                                <p>Mesa 1</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-d-cardapio">
                                <p>Descrição:</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-cardapio">
                                <p>Última mesa do lado esquerdo no segundo corredor. 4 cadeiras</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-btn-lixeira text-right">
                                <button>Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-25">
                    <div class="flex-between box-btn-item-lista">
                        <div class="box-100">
                            <div class="box-img-cardapio">
                                <p>Mesa 1</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-d-cardapio">
                                <p>Descrição:</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-desc-cardapio">
                                <p>Última mesa do lado esquerdo no segundo corredor. 4 cadeiras</p>
                            </div>
                        </div>
                        <div class="box-100">
                            <div class="box-btn-lixeira text-right">
                                <button>Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>