<main>
  <app-funcao-autenticadora></app-funcao-autenticadora>
  <app-header></app-header>
  <div class="container">
    <div class="flex">
      <div class="box-100">
        <div class="box-title-menu-restaurantes">
          <h1>Gerenciamento</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="flex-between">
      <div class="box-25">
        <a class="box-link-card" href="/perfil">
          <div class="box-card-menu-restaurante">
            <div class="box-img-card">
              <img
                src="../../assets/main/menu-restaurantes/perfil.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div class="box-title-card">
              <h2>Perfil</h2>
            </div>
            <div class="box-text-card">
              <p>Cadastro de cardápio, ver cardápio</p>
            </div>
          </div>
        </a>
      </div>
      <div class="box-25">
        <a class="box-link-card" href="/cardapio">
          <div class="box-card-menu-restaurante">
            <div class="box-img-card">
              <img
                src="../../assets/main/menu-restaurantes/cardapio.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div class="box-title-card">
              <h2>Cardapio</h2>
            </div>
            <div class="box-text-card">
              <p>Cadastro de cardápio, ver cardápio</p>
            </div>
          </div>
        </a>
      </div>
      <div class="box-25">
        <a class="box-link-card" href="/mesas">
          <div class="box-card-menu-restaurante">
            <div class="box-img-card">
              <img
                src="../../assets/main/menu-restaurantes/mesa.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div class="box-title-card">
              <h2>Mesa</h2>
            </div>
            <div class="box-text-card">
              <p>Cadastro de mesa, ver mesas</p>
            </div>
          </div>
        </a>
      </div>
      <div class="box-25">
        <a class="box-link-card" href="/cozinha">
          <div class="box-card-menu-restaurante">
            <div class="box-img-card">
              <img
                src="../../assets/main/menu-restaurantes/cozinha.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div class="box-title-card">
              <h2>Cozinha</h2>
            </div>
            <div class="box-text-card">
              <p>Visualizar, Alterar, histórico de pedidos</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
