<div class="box-bg-modal text-center">
    <div class="box-btns-modal">
        <div class="box-bg-lista">
            <div class="flex">
                <div class="box-50">
                    <div class="flex-between">
                        <form class="form-upload">
                            <label class="input-personalizado">
                                <span class="botao-selecionar">+</span>
                                <img class="imagem" />
                                <input type="file" class="input-file" accept="image/*">
                            </label>
                        </form>
                    </div>
                </div>
                <div class="box-50">
                    <div class="box-right-form">
                        <input type="text" name="" id="" placeholder="Nome do Restaurante">
                        <input type="text" name="" id="" placeholder="Endereço/ Unidade">
                        <input type="text" name="" id="" placeholder="Descrição">
                        <button>Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>