<main>
    <app-header></app-header>

    <div class="container">
        <div class="flex-between">
            <div class="box-50">
                <div class="box-title-lista text-left">
                    <h1>Lista</h1>
                </div>
            </div>
            <div class="box-50">
                <div class="box-btn-adicionar-lista text-right">
                    <button>Adicionar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="box-bg-lista">
            <div class="flex">
                <div class="box-100">
                    <div class="flex-between box-btn-item-lista">
                        <div class="box-50">
                            <div class="box-btn-lista">
                                <button>Restaurante</button>
                            </div>
                        </div>
                        <div class="box-50">
                            <div class="box-btn-lixeira text-right">
                                <button class="box-btn-lixeira"><img src="../../assets/main/lista/lixeira.png" alt="Lixeira"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-modal-component">
        <app-modal-exluir></app-modal-exluir>
    </div>
</main>