<div class="box-bg-modal text-center">
  <div class="box-first-text-modal">
      <p>Tem certeza que quer deletar esse item??</p>
      <p>Ao confirmar, todo o item será deletado permanentemente.</p>
  </div>
  <div class="box-btns-modal">
      <div class="container">
          <div class="flex-between">
              <div class="box-50">
                  <div class="box-btn-cancelar">
                      <button (click)="closeModal()" class="modal_btn_cancelar">Cancelar</button>
                  </div>
              </div>
              <div class="box-50">
                  <div class="box-btn-excluir">
                      <button>Excluir</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
